p{
color:rgb(58, 58, 58)
}
.endereço{
color:rgb(180, 61, 61);
}
.endereço1{
font-family:sans-serif;
}
.endereço2{
font-size:1em;
color:rgb(71, 71, 71)
}
.fonte1{
font-family:sans-serif;
}
.site{
font-family: sans-serif;
}
.endereço3{
color:black
}
